@font-face {
  font-family: 'e';
  src:
    url('/Franie Test Black.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test Black.woff2') format('woff2'),
    url('/Franie Test Black.woff') format('woff'),
    url('/Franie Test Black.svg#Franie Test Black') format('/svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test Black Italic.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test Black Italic.woff2') format('woff2'),
    url('/Franie Test Black Italic.woff') format('woff'),
    url('/Franie Test Black Italic.svg#Franie Test Black Italic') format('/svg');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test Bold.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test Bold.woff2') format('woff2'),
    url('/Franie Test Bold.woff') format('woff'),
    url('/Franie Test Bold.svg#Franie Test Bold') format('/svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test Bold Italic.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test Bold Italic.woff2') format('woff2'),
    url('/Franie Test Bold Italic.woff') format('woff'),
    url('/Franie Test Bold Italic.svg#Franie Test Bold Italic') format('/svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test ExtraBold.woff2') format('woff2'),
    url('/Franie Test ExtraBold.woff') format('woff'),
    url('/Franie Test ExtraBold.svg#Franie Test ExtraBold') format('/svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test ExtraBold Italic.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test ExtraBold Italic.woff2') format('woff2'),
    url('/Franie Test ExtraBold Italic.woff') format('woff'),
    url('/Franie Test ExtraBold Italic.svg#Franie Test ExtraBold Italic')
      format('/svg');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test ExtraLight.woff2') format('woff2'),
    url('/Franie Test ExtraLight.woff') format('woff'),
    url('/Franie Test ExtraLight.svg#Franie Test ExtraLight') format('/svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test ExtraLight Italic.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test ExtraLight Italic.woff2') format('woff2'),
    url('/Franie Test ExtraLight Italic.woff') format('woff'),
    url('/Franie Test ExtraLight Italic.svg#Franie Test ExtraLight Italic')
      format('/svg');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test Italic.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test Italic.woff2') format('woff2'),
    url('/Franie Test Italic.woff') format('woff'),
    url('/Franie Test Italic.svg#Franie Test Italic') format('/svg');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test Light.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test Light.woff2') format('woff2'),
    url('/Franie Test Light.woff') format('woff'),
    url('/Franie Test Light.svg#Franie Test Light') format('/svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test Light Italic.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test Light Italic.woff2') format('woff2'),
    url('/Franie Test Light Italic.woff') format('woff'),
    url('/Franie Test Light Italic.svg#Franie Test Light Italic') format('/svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test Regular.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test Regular.woff2') format('woff2'),
    url('/Franie Test Regular.woff') format('woff'),
    url('/Franie Test Regular.svg#Franie Test Regular') format('/svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test SemiBold.woff2') format('woff2'),
    url('/Franie Test SemiBold.woff') format('woff'),
    url('/Franie Test SemiBold.svg#Franie Test SemiBold') format('/svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test SemiBold Italic.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test SemiBold Italic.woff2') format('woff2'),
    url('/Franie Test SemiBold Italic.woff') format('woff'),
    url('/Franie Test SemiBold Italic.svg#Franie Test SemiBold Italic')
      format('/svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test SemiLight.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test SemiLight.woff2') format('woff2'),
    url('/Franie Test SemiLight.woff') format('woff'),
    url('/Franie Test SemiLight.svg#Franie Test SemiLight') format('/svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

@font-face {
  font-family: 'e';
  src:
    url('/Franie Test SemiLight Italic.eot?#iefix') format('embedded-opentype'),
    url('/Franie Test SemiLight Italic.woff2') format('woff2'),
    url('/Franie Test SemiLight Italic.woff') format('woff'),
    url('/Franie Test SemiLight Italic.svg#Franie Test SemiLight Italic')
      format('/svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-007A;
}

/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */

@font-face {
  font-family: 's';
  src:
    url('/s Bold.eot?#iefix') format('embedded-opentype'),
    url('/s Bold.woff2') format('woff2'),
    url('/s Bold.woff') format('woff'),
    url('/s Bold.svg#s Bold') format('/svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 's';
  src:
    url('/s Medium.eot?#iefix') format('embedded-opentype'),
    url('/s Medium.woff2') format('woff2'),
    url('/s Medium.woff') format('woff'),
    url('/s Medium.svg#s Medium') format('/svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 's';
  src:
    url('/s Regular.eot?#iefix') format('embedded-opentype'),
    url('/s Regular.woff2') format('woff2'),
    url('/s Regular.woff') format('woff'),
    url('/s Regular.svg#s Regular') format('/svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
