@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts.css';

html,
body {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
}

html {
  scroll-behavior: smooth;
}
